# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl
*.egg-info/

# Environments
.env
.venv
venv/
env/

# Jupyter
.ipynb_checkpoints/

# FastF1 cache
fastf1_cache/
cache/
*.log

# Data files (keep only processed if you want later)
data/*.csv
data/*.parquet
data/*.pkl

# OS
.DS_Store
Thumbs.db
